<html>
 <head>
  <title>Blocks Recording Upload Form</title>
 </head>
 <body>
  <div style='width: 600px; margin: 0 auto'>
   <h2>Blocks Recording Upload Form</h2>
   <form method='post' action='/upload' enctype='multipart/form-data'>
    <div style='text-align:left'>
     <p>
      <label for='snapshotfile'>Select a file:</label>
     </p>
     <input id='snapshotfile' name='snapshotfile' type='file' />
     <br />
     <br>
      <input type='submit'></input>
     </p>
    </div>
   </form>
   <form method = 'post' action = '/session' enctype='UTF-8';
  </div>
</html>